@font-face {
    font-family: Roboto;
    src: url('./fonts/RobotoSlab-Light.ttf');
}

body {
    font-family: Roboto;
}

.right-side-window {
    position: relative;
    display: inline-block;
    width: calc(100% - 260px);
    padding: 5px;
    height: 100%;
}